<%= bootstrap_form_for Url.find(params[:id]) do |f| %>

	<%= f.text_field :url, placeholder: "Feed", skip_label: true %>

	<tr>
		<% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |dow| %>

			<td>
				<%= f.check_box dow %>
			</td>
		<% end %>
		<td><%= f.submit "Update Feed", class: "btn btn-success" %></td>
	</tr>
<% end %>