
<div class="container">

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Edit Feed Options</h3>
		</div>

 	<div class="panel-body">

		<table class="table table-hover">
			<%= render 'form' %>
		</table>

	</div>

</div>