<div class="wrapper clearfix">
	<div class="field">
		<h1>We grow your social accounts so you don't have to</h1>
		<h2>start your free trial right now</h2>
		<%= form_tag do %>
			<input type="text" name="email" placeholder="Email Address"/><br>
			<input type="submit" value="Get Started"/>
		<% end %>
	</div>

	<div class="analytics">
		<img src="http://www.google.co.uk/analytics/images/feat-hed-mobile.png">
	</div>
</div>
