<div class="wrapper clearfix">
	<div class="field">
		<h1>We grow your social accounts so you don't have to</h1>
		<h2><a href="/users/sign_up" class="field1">start for free right now</a></h2>
	</div>

	<div class="analytics">
		<img src="http://www.google.co.uk/analytics/images/feat-hed-mobile.png">
	</div>
</div>
