<div class="container">
	<div class="col-md-4">
		<strong>Current Scheduled Tweets</strong>
		<% @posts.each do |post| %>
					<p><%= post.status %></p>
					<p><%= post.scheduled_at %></p>
		<% end %>
		<a href="/urls/new">Schedule More</a>
	</div>

	<div class="col-md-4">
		<strong>Current Favourite Sites</strong></br>
		<% @urls.each do |url| %>
			<p><%= url.url %></p>
		<% end %>
		<a href="/urls/new">Add More</a>
	</div>
</div>




