<%= form_tag do %>

	<form action="/create" method="POST">
		<input type="text" name="url" placeholder="http://www.example.com/feed.rss"/><br>
		<input type="submit" value="Save my RSS feed"/>
	</form>

<% end %>