.col-md-4 a {
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #e74c3c;
  color: #fff;
  transition:1s all;
}

.col-md-4 a:hover {
	background-color: #D01401;
	text-decoration: none;
}

.welcomename {
 	font-size: 15px;
  font-weight: 900;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  margin-top: -20px;
  padding-bottom: 4px;
}
