@import 'bootstrap';

body, .jumbotron, .container {
	background: -webkit-gradient(radial, center center, 0, center center, 1060, from(#b6eafc), to(#79c6e0));
}

.container-fluid {
	margin-top:80px;
}

.login {
	margin-right: 6%;
	float: right;
	font-size: 18px;
	font-weight: 200;
	color: #000;
	text-decoration: none;
}

.login:hover {
	text-decoration: none;
}

.logo {
	font-size: 18px;
	color: #000;
	display: block;
	float: left;
	text-decoration:none;
	font-weight: bold;
	margin-left: 6%;
}

form {
	text-align: center;
}

.email {
	height: 30px;
	width: 240px;
}

/*.notify {
	background-color: #7fc85c;
	border:1px solid #85B667;
	color:#221a17;
	font-size:17px;
	padding:11px 81px 11px 81px;
	margin-top:0px;
}*/

.notifylogin {
	padding:11px 97px 11px 97px;
}

/*.notifylogin:hover {
	background-color: #a3dd87;
}*/

.formlogin input {
	margin:0px;
}

.gravatar {
	display: block;
	margin:0 auto;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
